$primary-light: #f6f6f6;
$primary-main: #f3f3f3;
$primary-dark: #e4e4e4;
$primary-contrastText: #605E5C;

$secondary-main: #f0f4fb;
$secondary-dark: #e0e9f6;
$secondary-contrastText: #4d6dca;

$primary-info: #a19f9d;
